<!DOCTYPE html>
<html>
   <body>
   
      <h3>Add user</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
         <label for = "name">Name</label><br>
         <input type = "text" name = "name" placeholder = "Name" /><br>
         <label for = "enem">Enem</label><br>
         <input type = "text" name = "enem" placeholder = "Yes/No" /><br>
         <label for = "email">Email</label><br>
         <input type = "text" name = "email" placeholder = "Email" /><br>
         <label for = "gender">Gender</label><br>
         <input type = "text" name = "gender" placeholder = "Male/Female/Other" /><br>
         <input type = "submit" value = "Submit" />
      </form>
      
   </body>
</html>
